.wrapper {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: rgba(233, 150, 122, 0.913);
  padding: 1rem;
  align-items: center;
}

.navigation {
  flex-direction: column;
  margin: auto;
}

.navigation nav ul li {
  list-style: none;
}

.navigation nav ul li a {
  text-decoration: none;
  color: black;
}
