* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
 
 
 background-image: url(https://img.freepik.com/premium-vector/white-question-mark-background-minimal-style-vector-random-white-3d-question-marks-background_645918-233.jpg);
}
